.button {
  margin: 10px 0 20px 0;
  display: inline-block;
  width: 90px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: rgb(0, 0, 0);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: linear-gradient(yellow, yellowgreen);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset,
    0 1px 1px 1px rgba(255, 255, 255, 0.2), 0 -1px 1px 1px rgba(0, 0, 0, 0);
  transition: 0.2s ease-in-out;
}
.button:hover:not(:active) {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset,
    0 1px 1px 1px rgba(47, 79, 79, 0.5), 0 -1px 1px 1px rgba(47, 79, 79, 0.5);
}

