.header {
  grid-area: h;
  background-color: black;
}

.container {
  margin: 10px 20px 0 20px;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.right {
  align-content: flex-end;
}

.cartIcon {
  margin: -5px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.right img {
  width: 50px;
  margin: 0;
}

.right:hover {
  filter: sepia(1) hue-rotate(435deg) saturate(10);
}

.totalPrice {
  margin: -10px 0 0 13px;
  color: white;
  font-size: 15px;
  text-align: center;
}

.left {
  margin: 5px;
  align-content: flex-start;
}

.container a {
  color: white;
  outline: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: initial;
}

a.active {
  color: aquamarine;
  text-shadow: 0 0 4px rgb(47, 79, 79);
  font-size: 40px;
}

a:hover {
  color: aquamarine;
}
