.app-wrapper {
  display: grid;
  width: 1000px;
  grid-template-areas:
    "header"
    "main";
  margin: 0 auto;
  grid-gap: 2px;
}
.app-wrapper-content {
  grid-area: main;
  background-color: aliceblue;
  padding: 20px;
}
