.app-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  margin: 0 auto;
  grid-gap: 2px;
}
.app-wrapper-content {
  grid-area: main;
  padding: 30px;
  background-color: aliceblue;
}
